<div class="container timer-body">
  <div class= "card text-center">
    <h1><%= @current_event %> Timer</h1>  
    <timeDisplay class="timer-display">00:00:00</timeDisplay>
    <div>
      <input type="button" id="timerButton" value="Start" class="timer-button">
    </div>
    <div>
      <p>
        <%= @current_scramble %>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div id="chart-container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto">      
      </div>
    </div>
    <div class="col-md-4">
      <div class="card timer-panel-left">
        <p>Previous Time: <%= format_milliseconds(SingleSolve.last.solve_time) %></p>
        <ol>
        <% @list_solves.each do |t| %>
          <li>

            <%= format_milliseconds(t.solve_time) %>
            <%= link_to 'Destroy', single_solves_path(t), :confirm => 'You sure?', :method => :destroy %>
          </li>
        <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>

